doctype html
html(lang="es-MX")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title API Countries
        link(rel="stylesheet", href="libs/dataTables/jquery.dataTables.min.css")
    body
        header
        main
        footer
        script(src="libs/dataTables/jquery-3.5.1.js")
        script(src="libs/dataTables/jquery.dataTables.min.js")
    