doctype html
html(lang="es-MX")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title API Countries
        link(rel="stylesheet", href="libs/dataTables/css/jquery.dataTables.min.css")
    body
        header
        main
            table#countries.countries
                thead
                    tr
                        th Pais
                        th Habitantes
                        th Bandera
                tbody
                    tr
                        td México
                        td 454548181
                        td Mexicana
                    tr
                        td Estados Unidos
                        td 784454545
                        td Rayitas
                    tr
                        td Colombia
                        td 4454112
                        td Mariguanita
        footer
        script(src="libs/jquery-3.5.1.js")
        script(src="libs/dataTables/js/jquery.dataTables.min.js")
        script(src="app.js")